{% extends "form/base.html" %}
{% load static %}
{% block content %}
    <h2>Auto-adds</h2>
    <div id="id_auto_adds_form">
        <input type="text"
               id="id_additional_enrollments"
               name="additional_enrollments"
               value="[{}]"
               hidden/>
        <button id="id_create_auto_add"
                hx-get="{% url "auto_add_form" %}"
                hx-target="this"
                hx-swap="beforebegin">
            + Create auto-add
        </button>
    </div>
    <table>
        <tr>
            <th>User</th>
            <th>School</th>
            <th>Subject</th>
            <th>Role</th>
            <th>Remove</th>
        </tr>
        {% for auto_add in auto_adds %}
            {% include "form/auto_add_row.html" %}
        {% endfor %}
    </table>
{% endblock content %}
{% block js %}
    <script type="module" src="{% static "js/auto_add/auto_add.js" %}"></script>
{% endblock js %}
