{% load static %}
{% if editing %}
    {{ form.user.label_tag }}
    {{ form.user }}
    <button id="{{ button_id }}"
            type="button"
            hx-get="{% url "auto_add_user" %}"
            hx-target="#id_auto_add_user"
            hx-swap="innerHTML">
        Validate user
    </button>
{% else %}
    <div id="{{ div_id }}">
        <p id="id_auto_add_user">
            {{ form.user.label_tag }}
            {{ form.user }}
            <button id="{{ button_id }}"
                    type="button"
                    hx-get="{% url "auto_add_user" %}"
                    hx-target="#id_auto_add_user"
                    hx-swap="innerHTML">
                Validate user
            </button>
        </p>
        <p>
            {{ form.role.label_tag }}
            {{ form.role }}
        </p>
        <p>
            <label for="{{ school_id }}">School:</label>
            <select id="{{ school_id }}"
                    name="school"
                    required
                    hx-get="{% url "auto_add_subjects" %}"
                    hx-trigger="change"
                    hx-target="#subjects"
                    hx-swap="innerHTML">
                {% for value, name in form.fields.school.choices %}
                    <option value="{{ value }}">
                        {{ name }}
                    </option>
                {% endfor %}
            </select>
        </p>
        <p id="subjects">
            <label for="{{ subject_id }}">Subject:</label>
            <select id="{{ subject_id }}" name="subject" disabled>
                <option>
                    -- Please choose a School --
                </option>
            </select>
        </p>
        <p>{% include "form/remove_button.html" %}</p>
        <button type="button">Submit</button>
    </div>
{% endif %}
