{% load static %}
<div id="{{ div_id }}">
    <p>
        {{ form.user.label_tag }}
        {{ form.user }}
        <button id="{{ button_id }}"
                type="button"
                hx-get="{% url "create_auto_add" %}"
                hx-target="#{{ div_id }}"
                hx-swap="outerHTML">
            Load user
        </button>
    </p>
    <p>
        {{ form.role.label_tag }}
        {{ form.role }}
    </p>
    <p>
        {{ form.school.label_tag }}
        {{ form.school }}
    </p>
    <p>
        {{ form.subject.label_tag }}
        {{ form.subject }}
    </p>
    <p>{% include "form/remove_button.html" %}</p>
    {% if error %}{{ form.user.errors }}{% endif %}
</div>
