<p>
    <label for="id_additional_enrollment_pennkey_{{ enrollment_count }}">Pennkey:</label>
    <input id="id_additional_enrollment_pennkey_{{ enrollment_count }}"
           type="text"
           value="{{ enrollment_user }}"
           disabled />
    <label for="id_additional_enrollment_role_{{ enrollment_count }}">Role:</label>
    <select id="id_additional_enrollment_role_{{ enrollment_count }}" disabled>
        <option>{{ role }}</option>
    </select>
    <button type="button">Edit</button>
    <button type="button">Remove</button>
</p>
