<p>
    <label for="{{ pennkey_id }}">Pennkey:</label>
    <input id="{{ pennkey_id }}"
           type="text"
           value="{{ enrollment_user }}"
           disabled />
    <label for="{{ role_id }}">Role:</label>
    <select id="{{ role_id }}" disabled>
        <option>{{ role }}</option>
    </select>
    <button type="button">Edit</button>
    <button type="button"
            hx-get="{% url "delete_enrollment_user" %}"
            hx-target="#id_enrollment_user_{{ enrollment_count }}">
        Remove
    </button>
</p>
