{% if form %}
    {% include "form/section_enrollment.html" %}
{% else %}
    <div id="{{ div_id }}">
        <p>
            <label for="{{ pennkey_id }}">User:</label>
            <input id="{{ pennkey_id }}"
                   type="text"
                   value="{{ enrollment_user }}"
                   disabled />
            <label for="{{ role_id }}">Role:</label>
            <select id="{{ role_id }}" disabled>
                <option>{{ role }}</option>
            </select>
            <button id="{{ edit_button_id }}"
                    hx-get="{% url "section_enrollment" %}"
                    hx-target="#{{ div_id }}"
                    hx-swap="outerHTML">
                Edit
            </button>
            <button id="{{ edit_button_id }}"
                    hx-get="{% url "delete_enrollment_user" %}"
                    hx-target="#{{ div_id }}">
                Remove
            </button>
        </p>
    </div>
{% endif %}
