{% extends "./base.html" %}
{% block content %}
    <div class="my-requests">
        <h2>My requests</h2>
        {% include "form/my_requests.html" %}
    </div>
    <div class="my-courses">
        <h2>My current ({{ current_term }}) and upcoming ({{ next_term }}) courses</h2>
        {% if sections %}
            {% for section in sections %}
                <p>
                    <a href="{% if section.request %} {% url "request_detail" section.section_code %} {% else %} {% url "section_request" section.section_code %} {% endif %}">
                        {{ section.get_canvas_course_code }}
                    </a>
                </p>
            {% endfor %}
        {% else %}
            <p>
                You are not listed as an instructor for any current or upcoming
                courses. To request a course on behalf of someone else, please
                check the list of <a href="{% url "sections" %}">available
            courses</a>.
        </p>
    {% endif %}
</div>
<div class="my-canvas-sites">
    <h2>My Canvas sites</h2>
    {% for site in canvas_sites %}
        <p>
            <a href="{{ canvas_url }}/{{ site.id }}"
               target="_blank"
               rel="noopener noreferrer">{{ site }}</a>
        </p>
    {% endfor %}
</div>
{% endblock content %}
