{% extends "./base.html" %}

{% block content %}
    <h2>Home</h2>
    <div class="contact-info" hx-target="this" hx-swap="outerHTML">
        <h3>Contact info</h3>
        <p>Email: {{ email }}</p>
        <button hx-get="{% url 'email' %}">Change email</button>
    </div>
    <div class="my-courses">
        <h3>My courses</h3>
        {% if courses %}
            {% for course in courses %}
                <p>{{ course }}</p>
            {% endfor %}
        {% else %}
            <p>You do not have any courses.</p>
        {% endif %}
    </div>
    <div class="my-canvas-sites">
        <h3>My Canvas sites</h3>
        {% for site in canvas_sites %}
            <p>
                <a href="{{ canvas_url }}/{{ site.id }}"
                   target="_blank"
                   rel="noopener noreferrer"
                >
                    {{ site }}
                </a>
            </p>
        {% endfor %}
    </div>
{% endblock %}
