{% extends "./base.html" %}

{% block content %}
    <h2>Home</h2>
    <div class="contact-info" hx-target="this" hx-swap="innerHTML">
        <h3>Contact info</h3>
        <p>Email: {{ email }}</p>
        <button hx-get="{% url 'email' %}">Change email</button>
    </div>
    <div class="my-courses">
        <h3>My courses sections</h3>
        {% if sections %}
            {% for section in sections %}
                <a href="{% if section.request %}
                         {% url "section_detail" section.section_code %}
                         {% else %}
                         {% url "section_request" section.section_code %}
                         {% endif %}
                         ">
                    {{ section.get_canvas_course_code }}
                </a>
            {% endfor %}
        {% else %}
            <p>You do not have any courses.</p>
        {% endif %}
    </div>
    <div class="my-canvas-sites">
        <h3>My Canvas sites</h3>
        {% for site in canvas_sites %}
            <p>
                <a href="{{ canvas_url }}/{{ site.id }}"
                   target="_blank"
                   rel="noopener noreferrer"
                >
                    {{ site }}
                </a>
            </p>
        {% endfor %}
    </div>
{% endblock %}
