{% load template_filters %}
<div id="id_my_canvas_sites">
    <table>
        <tr>
            {% with course_id="Course ID" name="Name" term="Term" canvas_course_id="Canvas course ID" sort_icon="⇕" hx_target="#id_my_canvas_sites" %}
                {% if canvas_sites|length > 1 %}
                    <th>
                        <a role="button"
                           {% if canvas_sites_sort|get_sort_by_base == sort_canvas_sites_course_id|get_sort_by_base %} class="sort-active"{% endif %}
                           hx-get="{% url "my_canvas_sites" %}?limit={{ limit_canvas_sites }}&sort={{ sort_canvas_sites_course_id }}"
                           hx-target="{{ hx_target }}"
                           hx-swap="outerHTML">{{ sort_icon }} {{ course_id }}</a>
                    </th>
                    <th>
                        <a role="button"
                           {% if canvas_sites_sort|get_sort_by_base == sort_canvas_sites_name|get_sort_by_base %} class="sort-active"{% endif %}
                           hx-get="{% url "my_canvas_sites" %}?limit={{ limit_canvas_sites }}&sort={{ sort_canvas_sites_name }}"
                           hx-target="{{ hx_target }}"
                           hx-swap="outerHTML">{{ sort_icon }} {{ name }}</a>
                    </th>
                    <th>
                        <a role="button"
                           {% if canvas_sites_sort|get_sort_by_base == sort_canvas_sites_term|get_sort_by_base %} class="sort-active"{% endif %}
                           hx-get="{% url "my_canvas_sites" %}?limit={{ limit_canvas_sites }}&sort={{ sort_canvas_sites_term }}"
                           hx-target="{{ hx_target }}"
                           hx-swap="outerHTML">{{ sort_icon }} {{ term }}</a>
                    </th>
                    <th>
                        <a role="button"
                           {% if canvas_sites_sort|get_sort_by_base == sort_canvas_sites_canvas_course_id|get_sort_by_base %} class="sort-active"{% endif %}
                           hx-get="{% url "my_canvas_sites" %}?limit={{ limit_canvas_sites }}&sort={{ sort_canvas_sites_canvas_course_id }}"
                           hx-target="{{ hx_target }}"
                           hx-swap="outerHTML">{{ sort_icon }} {{ canvas_course_id }}</a>
                    </th>
                {% else %}
                    <th>{{ course_id }}</th>
                    <th>{{ name }}</th>
                    <th>{{ term }}</th>
                    <th>{{ canvas_course_id }}</th>
                {% endif %}
            {% endwith %}
        </tr>
        {% for site in canvas_sites %}
            <tr>
                <td>
                    <a href="{{ canvas_url }}/{{ site.id }}"
                       target="_blank"
                       rel="noopener noreferrer">{{ site.sis_course_id }}</a>
                </td>
                <td>
                    <a href="{{ canvas_url }}/{{ site.id }}"
                       target="_blank"
                       rel="noopener noreferrer">{{ site.name }}</a>
                </td>
                <td>
                    <a href="{{ canvas_url }}/{{ site.id }}"
                       target="_blank"
                       rel="noopener noreferrer">{{ site.enrollment_term_id|get_term }}</a>
                </td>
                <td>
                    <a href="{{ canvas_url }}/{{ site.id }}"
                       target="_blank"
                       rel="noopener noreferrer">{{ site.id }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if load_more_canvas_sites %}
        <button class="load-more"
                hx-get="{% url "my_canvas_sites" %}?limit={{ limit_canvas_sites }}"
                hx-target="#id_my_canvas_sites"
                hx-swap="outerHTML">
            Load more...
        </button>
    {% endif %}
</div>
