<div id="id_my_requests">
    <table>
        <tr>
            {% with section_code="Section code" requested_by="Requested by" date_requested="Date requested" status="Status" sort_icon="⇕" hx_target="#id_my_requests" %}
                {% if requests|length > 1 %}
                    <th>
                        <a role="button"
                           hx-get="{% url "my_requests" %}?limit={{ limit_requests }}&sort={{ sort_requests_section }}"
                           hx-target="{{ hx_target }}"
                           hx-swap="outerHTML">{{ sort_icon }} {{ section_code }}</a>
                    </th>
                    <th>
                        <a role="button"
                           hx-get="{% url "my_requests" %}?limit={{ limit_requests }}&sort={{ sort_requests_requester }}"
                           hx-target="{{ hx_target }}"
                           hx-swap="outerHTML">{{ sort_icon }} {{ requested_by }}</a>
                    </th>
                    <th>
                        <a role="button"
                           hx-get="{% url "my_requests" %}?limit={{ limit_requests }}&sort={{ sort_requests_created_at }}"
                           hx-target="#id_my_requests"
                           hx-swap="outerHTML">{{ sort_icon }} {{ date_requested }}</a>
                    </th>
                    <th>
                        <a role="button"
                           hx-get="{% url "my_requests" %}?limit={{ limit_requests }}&sort={{ sort_requests_status }}"
                           hx-target="#id_my_requests"
                           hx-swap="outerHTML">{{ sort_icon }} {{ status }}</a>
                    </th>
                {% else %}
                    <th>{{ section_code }}</th>
                    <th>{{ requested_by }}</th>
                    <th>{{ date_requested }}</th>
                    <th>{{ status }}</th>
                {% endif %}
            {% endwith %}
        </tr>
        {% for request in requests %}
            <tr>
                <td>
                    <a href="{% url "request_detail" request.section.section_code %}">{{ request.section.get_canvas_course_code }}</a>
                </td>
                <td>
                    {% if not request.proxy_requester %}
                        You
                    {% elif user == request.requester %}
                        You on behalf of {{ request.proxy_requester }}
                    {% else %}
                        {{ request.requester }} on your behalf
                    {% endif %}
                </td>
                <td>{{ request.created_at }}</td>
                <td>{{ request.status }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if load_more_requests %}
        <button class="load-more"
                hx-get="{% url "my_requests" %}?limit={{ limit_requests }}"
                hx-target="#id_my_requests"
                hx-swap="outerHTML">
            Load more...
        </button>
    {% endif %}
</div>
