{% extends "./base.html" %}
{% load static %}
{% block content %}
    {% with section=object.section %}
        <h1>{{ section.get_canvas_course_code }}: {{ section.title }}</h1>
        <table>
            <tr>
                <th>Requested by</th>
                <td>
                    {% if request %}
                        {% if user == request.requester %}
                            You
                        {% else %}
                            {{ request.requester }}
                        {% endif %}
                        {% with proxy_requester=request.proxy_requester %}
                            {% if proxy_requester %}on behalf of {{ proxy_requester }}{% endif %}
                        {% endwith %}
                    {% else %}
                        ---
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Date requested</th>
                <td>{{ request.created_at }}</td>
            </tr>
            {% include "form/section_info.html" %}
            <tr>
                <th>Included sections</th>
                <td>
                    {% for section in request.included_sections.all %}<div>{{ section }}</div>{% endfor %}
                </td>
            </tr>
            <tr>
                <th>Title override</th>
                <td>{{ request.title_override }}</td>
            </tr>
            <tr>
                <th>Copy from course</th>
                <td>{{ request.get_copy_from_course_display }}</td>
            </tr>
            <tr>
                <th>Exclude announcements</th>
                <td>{{ request.exclude_announcements }}</td>
            </tr>
            <tr>
                <th>Reserves</th>
                <td>{{ request.reserves }}</td>
            </tr>
            <tr>
                <th>LPS Online</th>
                <td>{{ request.lps_online }}</td>
            </tr>
            <tr>
                <th>Additional enrollments</th>
                <td>
                    {% for enrollment in request.additional_enrollments.all %}
                        <div>{{ enrollment.user }} -- {{ enrollment.role }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Additional instructions</th>
                <td>{{ request.additional_instructions }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ request.status }}</td>
            </tr>
            <tr>
                <th>Canvas site</th>
                <td>
                    {% if canvas_site_id %}
                        <a href="{{ canvas_site_url }}"
                           target="_blank"
                           rel="noopener noreferrer">{{ canvas_site_name }}</a>
                    {% else %}
                        {{ canvas_site_name }}
                    {% endif %}
                </td>
            </tr>
        </table>
        {% if user.is_staff %}
            <p>
                <form method="post">
                    {% csrf_token %}
                    <label for="change_status">Change status:</label>
                    <select id="change_status" name="change_status">
                            {% if request.status == "Error" %}
                                <option value="Error" selected disabled>Error</option>
                                {% endif %}
                        {% for choice in status_choices %}
                            <option value="{{ choice }}"
                                    {% if choice == request.status %}selected{% endif %}>
                                {{ choice }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="submit">Change</button>
                </form>
            </p>
            {% if request.status == "Approved" %}
                <p id="id_create_canvas_site">
                    <button id="create_canvas_site_button"
                            type="submit"
                            hx-get="{% url "create_canvas_site" %}?section_code={{ request.section.section_code }}"
                            hx-target="body">
                        Create Canvas site
                    </button>
                    <span id="id_creating_canvas_site">Creating Canvas site...</span>
                </p>
            {% endif %}
        {% endif %}
        <p>
            <a href="{% url "sections" %}">Back</a>
        </p>
    {% endwith %}
    {% if request.status == "Error" %}
        <div id="process_notes">
            <h4>
                Process notes:
            </h4>
            {{ request.process_notes }}
        </div>
    {% endif %}
{% endblock content %}
{% block js %}
    <script type="module" src="{% static "js/create_canvas_site.js" %}"></script>
{% endblock js %}
