{% load static %}
<div id="{{ div_id }}">
    <p>
        {{ form.user.label_tag }}
        {{ form.user }}
        {{ form.role.label_tag }}
        {{ form.role }}
        <button id="{{ button_id }}"
                type="button"
                hx-get="{% url "enrollment_user" %}"
                hx-target="#{{ div_id }}"
                hx-swap="outerHTML">
            Load user
        </button>
        {% include "form/remove_button.html" %}
    </p>
    {% if error %}{{ form.user.errors }}{% endif %}
</div>
