{% extends "./base.html" %}
{% load static %}

{% block content %}
    <h3>{{ section.get_canvas_course_code }}</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% if user_is_instructor %}
        {% else %}
            {% with single_instructor=form.proxy_requester.value %}
                <p>
                    You are not listed as an instructor for this course section.
                    You may make a request on behalf of {% if single_instructor %}
                    the instructor below, selecting from that instructor's existing
                    Canvas sites in the "Copy from course" dropdown if desired.
                    {% else %} one of the instructors by selecting their name from the
                    list below. That instructor's existing Canvas sites will then
                    become available to select in the "Copy from course" dropdown.
                    {% endif %}
                </p>
                <p>
                    {% if single_instructor %}
                        <div class="fieldWrapper">
                            {{ form.proxy_requester.label_tag }}
                            {{ form.proxy_requester }}
                            {{ form.proxy_requester.errors }}
                        </div>
                    {% else %}
                        <div class="fieldWrapper">
                            {{ form.proxy_requester.label_tag }}
                            <select id="id_proxy_requester"
                                    name="proxy_requester"
                                    hx-get="{% url 'copy_from_course' %}"
                                    hx-target="#id_copy_from_course">
                                {% for value, name in form.fields.proxy_requester.choices %}
                                    <option value="{{ value }}">
                                        {{ name }}
                                    </option>
                                {% endfor %}
                            </select>
                            {{ form.proxy_requester.errors }}
                        </div>
                    {% endif %}
                </p>
            {% endwith %}
        {% endif %}
        <p>
            To copy content from an existing Canvas site into this one, select
            the site below:
        </p>
        <p>
            <div class="fieldWrapper">
                {{ form.copy_from_course.label_tag }}
                <select id="id_copy_from_course"
                        name="copy_from_course"
                        hx-get="{% url 'exclude_announcements' %}"
                        hx-target="#id_exclude_announcements">
                    {% if user_is_instructor or form.proxy_requester.value %}
                        {% for canvas_id, name in form.fields.copy_from_course.widget.choices %}
                            <option value={{ canvas_id }}>{{ name }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="0">
                            --- Please select an instructor for "Request on behalf of" ---
                        </option>
                    {% endif %}
                </select>
                {{ form.copy_from_course.errors }}
            </div>
        </p>
        <div id="id_exclude_announcements"></div>
        {% if is_sas_section %}
            <p>
                By default, this course will be created in the "School of Arts
                and Sciences" sub-account. To use the "LPS Online" sub-account
                instead, check this box:
            </p>
            <p>
                <div class="fieldWrapper">
                    {{ form.lps_online.label_tag }}
                    {{ form.lps_online }}
                    {{ form.lps_online.errors }}
                </div>
            </p>
        {% endif %}
        <p>
            The default title for this course is "{{ section.title }}." To use a
            different title for the Canvas site, specify it below:
        </p> <p>
            <div class="fieldWrapper">
                {{ form.title_override.label_tag }}
                {{ form.title_override }}
                {{ form.title_override.errors }}
            </div>
        </p>
        <p>
            <div class="fieldWrapper">
                {{ form.reserves.label_tag }}
                {{ form.reserves }}
                {{ form.reserves.errors }}
            </div>
        </p>
        {{ form.additional_enrollments.label_tag }}
        <div id="id_additional_enrollments">
            <button id="id_add_enrollment"
                    hx-get="{% url "section_enrollment" %}"
                    hx-target="this"
                    hx-swap="beforebegin">
                Add enrollment
            </button>
        </div>
        <p>
            <div class="fieldWrapper">
                {{ form.additional_instructions.label_tag }}
                <div>
                    {{ form.additional_instructions }}
                </div>
                {{ form.additional_instructions.errors }}
            </div>
        </p>
        <input type="submit" value="Request">
    </form>
    <a href="{% url "sections" %}">Back</a>
{% endblock %}

{% block js %}
    <script type="module" src="{% static "js/section_request.js" %}"></script>
{% endblock %}
