{% extends "./base.html" %}

{% block content %}
    <h1>Course Sections</h1>
    <form method="get" action="{% url 'sections' %}">
        <fieldset>
            <legend>Filter sections</legend>
            <div class="filter-term">
                <label for="term">Term:</label>
                <select name="term" id="term">
                    <option value="" {% if not term %} selected {% endif %}>All available terms</option>
                    <option value="{{ current_term }}"
                            {% if term == current_term %} selected {% endif %}>
                        {{ current_term }}
                    </option>
                    <option value="{{ next_term }}"
                            {% if term == next_term %} selected {% endif %}>
                        {{ next_term }}
                    </option>
                </select>
            </div>
            <div class="filter">
                <label for="search">Search:</label>
                <input type="text" id="search" name="search" value="{{ search }}">
            </div>
        </fieldset>
        <p>
            <input type="submit" name="submit" value="Filter"/>
            <input type="submit" name="clear" value="Clear"/>
        </p>
    </form>
    <table>
        <colgroup span="5"></colgroup>
        <tr>
            <th>Section code</th>
            <th>Title</th>
            <th>Schedule Type</th>
            <th>Instructors</th>
            <th>Request</th>
        </tr>
        {% for section in object_list %}
            <tr>
                <td>
                    <a href="/sections/{{ section.section_code }}{% if not section.request %}/request{% endif %}">
                        {{ section.get_canvas_course_code }}
                    </a>
                </td>
                <td>{{ section.title }}</td>
                <td>{{ section.schedule_type.sched_type_code }}</td>
                <td class="instructors">{{ section.get_instructors_list }}</td>
                <td>
                    <button>
                        {% if section.request %}View Request{% else %}Request site{% endif %}
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
