{% extends "./base.html" %}
{% load static %}
{% block content %}
    <h1>Course Sections</h1>
    <form method="get">
        <p>
            <label for="id_term">Filter by term:</label>
            <select name="term" id="id_term">
                <option value="" {% if not term %} selected{% endif %}>
                    All available terms
                </option>
                <option value="{{ current_term }}"
                        {% if term == current_term %} selected{% endif %}>
                    {{ current_term }}
                </option>
                <option value="{{ next_term }}"
                        {% if term == next_term %} selected{% endif %}>
                    {{ next_term }}
                </option>
            </select>
        </p>
        <p>
            <label for="id_status">Filter by status:</label>
            <select name="status" id="id_status">
                <option value="" {% if not status %} selected{% endif %}>
                    All course sections
                </option>
                <option value="unrequested"
                        {% if status == "unrequested" %} selected{% endif %}>
                    Unrequested
                </option>
                <option value="requested" {% if status == "requested" %} selected{% endif %}>
                    Requested
                </option>
            </select>
        </p>
        <p>
            <label for="id_search">Search:</label>
            <input type="text" id="id_search" name="search" value="{{ search }}" />
            <input id="id_submit" type="submit" name="submit" value="Search"/>
        </p>
        <p>
            <input type="submit" name="clear" value="Reset"/>
        </p>
    </form>
    <table>
        <tr>
            <th>Section code</th>
            <th>Title</th>
            <th>Schedule Type</th>
            <th>Instructors</th>
            {% if status != "unrequested" %}
                <th>Requested by</th>
                <th>Date requested</th>
            {% endif %}
        </tr>
        {% for section in object_list %}
            {% with request=section.request %}
                <tr class="{% if request and not status == "requested" %}row-disabled{% endif %}">
                    <td>
                        <a href="{% if section.request %}{% url "request_detail" section.section_code %}{% else %}{% url "section_request" section.section_code %}{% endif %}">
                            {{ section.get_canvas_course_code }}
                        </a>
                    </td>
                    <td>{{ section.title }}</td>
                    <td>{{ section.schedule_type.sched_type_code }}</td>
                    <td class="instructors">{{ section.get_instructors_list }}</td>
                    {% if status != "unrequested" %}
                        <td>
                            {% if request %}
                                {% if user == request.requester %}
                                    You
                                {% else %}
                                    {{ request.requester }}
                                {% endif %}
                                {% with proxy_requester=request.proxy_requester %}
                                    {% if proxy_requester %}on behalf of {{ proxy_requester }}{% endif %}
                                {% endwith %}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>
                            {% if request %}
                                {{ request.created_at }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endwith %}
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a id="id_first" href="?page=1">« first</a>
                <a id="id_previous" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a id="id_next" href="?page={{ page_obj.next_page_number }}">next</a>
                <a id="id_last" href="?page={{ page_obj.paginator.num_pages }}">last »</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
{% block js %}
    <script type="module" src="{% static "js/section_list.js" %}"></script>
{% endblock js %}
