{% load template_filters %}
<div id="id_section_list_table">
    <table>
        <tr>
            {% with section_code="Section code" title="Title" schedule_type="Schedule Type" instructors="Instructors" requested_by="Requested by" date_requested="Date requested" sort_icon="⇕" hx_target="#id_section_list_table" %}
                {% if sections|length > 1 %}
                    <th>
                        <a role="button"
                           {% if sort|get_sort_by_base == sort_sections_section|get_sort_by_base %} class="sort-active"{% endif %}
                           hx-get="{% url "my_courses" %}?source={{ source }}&limit={{ limit_sections }}&sort={{ sort_sections_section }}"
                           hx-target="{{ hx_target }}"
                           hx-swap="outerHTML">{{ sort_icon }} {{ section_code }}</a>
                    </th>
                    <th>
                        <a role="button"
                           {% if sort|get_sort_by_base == sort_sections_title|get_sort_by_base %} class="sort-active"{% endif %}
                           hx-get="{% url "my_courses" %}?source={{ source }}&limit={{ limit_sections }}&sort={{ sort_sections_title }}"
                           hx-target="{{ hx_target }}"
                           hx-swap="outerHTML">{{ sort_icon }} {{ title }}</a>
                    </th>
                    <th>
                        <a role="button"
                           {% if sort|get_sort_by_base == sort_sections_schedule_type|get_sort_by_base %} class="sort-active"{% endif %}
                           hx-get="{% url "my_courses" %}?source={{ source }}&limit={{ limit_sections }}&sort={{ sort_sections_schedule_type }}"
                           hx-target="{{ hx_target }}"
                           hx-swap="outerHTML">{{ sort_icon }} {{ schedule_type }}</a>
                    </th>
                    <th>
                        <a role="button"
                           {% if sort|get_sort_by_base == sort_sections_instructors|get_sort_by_base %} class="sort-active"{% endif %}
                           hx-get="{% url "my_courses" %}?source={{ source }}&limit={{ limit_sections }}&sort={{ sort_sections_instructors }}"
                           hx-target="{{ hx_target }}"
                           hx-swap="outerHTML">{{ sort_icon }} {{ instructors }}</a>
                    </th>
                    {% if status != "unrequested" %}
                        <th>
                            <a role="button"
                               {% if sort|get_sort_by_base == sort_sections_requester|get_sort_by_base %} class="sort-active"{% endif %}
                               hx-get="{% url "my_courses" %}?source={{ source }}&limit={{ limit_sections }}&sort={{ sort_sections_requester }}"
                               hx-target="{{ hx_target }}"
                               hx-swap="outerHTML">{{ sort_icon }} {{ requested_by }}</a>
                        </th>
                        <th>
                            <a role="button"
                               {% if sort|get_sort_by_base == sort_sections_created_at|get_sort_by_base %} class="sort-active"{% endif %}
                               hx-get="{% url "my_courses" %}?source={{ source }}&limit={{ limit_sections }}&sort={{ sort_sections_created_at }}"
                               hx-target="{{ hx_target }}"
                               hx-swap="outerHTML">{{ sort_icon }} {{ date_requested }}</a>
                        </th>
                    {% endif %}
                {% else %}
                    <th>{{ section_code }}</th>
                    <th>{{ title }}</th>
                    <th>{{ schedule_type }}</th>
                    <th>{{ instructors }}</th>
                    {% if status != "unrequested" %}
                        <th>{{ requested_by }}</th>
                        <th>{{ date_requested }}</th>
                    {% endif %}
                {% endif %}
            {% endwith %}
        </tr>
        {% for section in sections %}
            {% with request=section.request %}
                <tr class="{% if request and not status == "requested" %}row-disabled{% endif %}">
                    <td>
                        <a href="{% if section.request %}{% url "request_detail" section.section_code %}{% else %}{% url "section_request" section.section_code %}{% endif %}">
                            {{ section.get_canvas_course_code }}
                        </a>
                    </td>
                    <td>{{ section.title }}</td>
                    <td>{{ section.schedule_type.sched_type_code }}</td>
                    <td class="instructors">{{ section.get_instructors_list }}</td>
                    {% if status != "unrequested" %}
                        <td>
                            {% if request %}
                                {% if user == request.requester %}
                                    You
                                {% else %}
                                    {{ request.requester }}
                                {% endif %}
                                {% with proxy_requester=request.proxy_requester %}
                                    {% if proxy_requester %}on behalf of {{ proxy_requester }}{% endif %}
                                {% endwith %}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>
                            {% if request %}
                                {{ request.created_at }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endwith %}
        {% endfor %}
    </table>
    {% if load_more_sections %}
        <button class="load-more"
                hx-get="{% url "my_courses" %}?source={{ source }}&limit={{ limit_sections }}"
                hx-target="#id_section_list_table"
                hx-swap="outerHTML">
            Load more...
        </button>
    {% endif %}
</div>
